<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Paige Venuto">
        <meta property="og:site_name" content="gitpets.herokuapp.com">
        <meta name="twitter:card" content="summary">

        <meta name="keywords" content="GitHub, virtual pet, progress, habit, tracker, productivity">
        <title>GitPets</title>
        <meta name="title" property="og:title" content="GitPets, Virtual Pets for GitHub">
        <meta property="twitter:title" content="GitPets, Virtual Pets for GitHub">
        <meta property="og:url" content="https://gitpets.herokuapp.com">
        <meta property="twitter:url" content="https://gitpets.herokuapp.com">
        <meta name="image" property="og:image" content="https://gitpets.herokuapp.com/gitpets-image.png">
        <meta property="twitter:image" content="https://gitpets.herokuapp.com/gitpets-image.png">
        <meta name="description" property="og:description" content="Choose a pet from different species. Feed and care for it with GitHub contributions. Show off your pet on your GitHub profile.">
        <meta property="twitter:description" content="Choose a pet from different species. Feed and care for it with GitHub contributions. Show off your pet on your GitHub profile.">
    </head>

    <body>

        <div class="background"></div>

        <div class="top-bar">
            <a class="home-btn" href="http://gitpets.herokuapp.com/">GitPets</a>
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>
