{% extends 'base.html' %}
{% block content %}
        <link rel="stylesheet" href="gitpets.css">

<div class="centered">
    <h2>Choose your pet</h2>

    <div id="pet-carousel" class="pet-carousel">
        <div class="carousel-arrow carousel-left" id="carousel-left"></div>
        <div id="carousel-images">
            {% for pet in pets %}
            <svg xmlns="http://www.w3.org/2000/svg" id="gitpets-wrapper" x="0" y="0" width="140" height="140" viewBox="0 0 140 140" class="pet-carousel-item">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="140px" height="140px" viewBox="0 0 450 450">
                    {% include "pet" + pet.species + ".svg" %}
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" x="50" y="35" width="40px" height="40px" viewBox="0 0 150 150">
                    {% include "happy.svg" %}
                </svg>
            </svg>
            {% endfor %}
        </div>
        <div class="carousel-arrow carousel-right" id="carousel-right"></div>
    </div>

    <p id="species-caption">This pet is very playful and needs lots of variety to be happy.</p>
    
    <form id="pet-form" class="centered" method="post">
    <input type="text" name="name" id="pet-name" placeholder="Name your pet">
    <input type="number" name="species" id="species" hidden>
    <button id="choose-pet" class="action-button">Select Pet</button>
    </form>

    <script src="choose_pet.js"></script>
</div>

{% endblock %}
